{% extends 'base.html.twig' %}

{% block title %}
    Delete Author
{% endblock %}

{% block body %}
    <body>
        <div class="container">
            <div class="row">
                {% include 'default/_form.html.twig' with {
                    page_title: 'Delete Record'|trans({'%id%': record.id|default('')}),
                    form: form,
                    submit_label: 'Delete',
                    back_to_list_path: 'ebay_records',
                } %}
            </div>
        </div>
    </body>
{% endblock %}