{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Ebay.com'|trans }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    Hello, welcome to eBay.com!
                </h1>
            </div>
            <div>
                <p>
                    Take a look at our stuff:
                    <a class="btn btn-outline-primary m-2" href="{{ url('ebay_records') }}" title="Records">
                        Here!
                    </a>
                </p>
                <p>
                    Already chosen? Make a reservation:
                    <a class="btn btn-outline-secondary m-2" href="{{ url('reservation_create') }}" title="Reservation">
                        Here!
                    </a>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
