{% extends 'base.html.twig' %}

{% block title %}
    Create Genre
{% endblock %}

{% block body %}
    <body>
        <div class="container">
            <div class="row">
                {% include 'default/_form.html.twig' with {
                    page_title: 'Edit Genre',
                    form: form,
                    submit_label: 'Save',
                    back_to_list_path: 'ebay_genres',
                } %}
            </div>
        </div>
    </body>
{% endblock %}